.btn {
   margin-left: 10px;
}

.list {
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   margin-top: 24px;
   padding: 10px;
   transition: all .3s linear;

   &:hover {
      background-color: #aad0ef;
      border-radius: 5px;
   }

   div {
      font-size: 22px;
      font-weight: 500;
   }
}

.close {
   font-weight: 300 !important;
   color: #ccc;
   text-decoration: line-through;
}

.filterTodo {
   display: flex;
   justify-content: center;
}

.btnFilter {
   margin: 0 12px;
}

.btns {
   margin-top: 20px;
}
